




// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;

$font-size-base: 0.9rem;
$line-height-base: 1.6;


$p-0: 0;
$p-1: 4px;
$p-2: 8px;
$p-3: 12px;
$p-4: 16px;
$p-5: 24px;
$p-6: 32px;
$p-7: 40px;
$p-8: 48px;


$m-0: 0;
$m-1: 4px;
$m-2: 8px;
$m-3: 12px;
$m-4: 16px;
$m-5: 24px;
$m-6: 32px;
$m-7: 40px;
$m-8: 48px;


$primary: #8A2BE2;




.landing-section-text{
    margin-bottom: 50px;
}

.landing-section-text h1{
    font-family: 'Poppins';
    font-size: 60px;

    font-weight: 600;
}


.landing-section-text p{
    font-family: 'Open Sans';
    font-size: 32px;
}


.dark-overlay{
    position: absolute; 
    top: 136; 
    left: 0; 
    width: 100%; 
    height: 97%; 
    background-color: rgba(0,0,0,0.5); 
    z-index: 1;
}
.campaign-card {
    background-color: #fff;
    min-height: 650px;
}


.profile-card{
    background-color: #fff;
    min-height: 300px;
    padding-top: $p-8;
}

.profile-card p{
    font-family: 'Open Sans';
    font-size: 16px;
}


.card-img-top{
    height: 300px; 
    object-fit: cover; 
}


.card .card-title{
    font-family: 'Poppins';
    font-size: 26px;

    font-weight: 600;
}


.card .card-desc{
    font-family: 'Open Sans';
    font-size: 16px;
}

.card .card-goal{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
}

.card .card-category{
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    color:rgb(155, 155, 155);
}

.card .card-name{
    font-family: 'Poppins';
    font-size: 26px;
    color: rgb(75, 0, 130);
}

.auth-card{
    border: none;
}

.auth-card .card-header{
    background-color: white;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
}


.auth-card .card-body{
    background-color: white;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 600;
}



.main-section-heading{
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: bold;
    margin-top:$m-7;
    margin-bottom: $m-7;
}



nav{
    min-height: 100px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    
  
}

.collapse{
    margin-left: $m-8;
    margin-right: $m-8;
}

.nav-link {
    text-decoration: none !important;
}

nav .brand-name{
    font-size: 30px;
    color: #8A2BE2 !important;
    font-weight: bold !important;
    
}

.text-secondary{
    color: #8A2BE2;
}

.campaign-details .card-title{
  
    margin-top: $m-5;
    font-size: 40px;
    font-weight: bold;
    

}

.campaign-details .section-heading{
    font-size: 30px;
    font-family: 'Poppins';
    margin-top: $m-6;
    

}

.campaign-details p{
    font-size: 16px;
    font-family: 'Open Sans';
}

.campaign-details .point-section{
    padding: $p-6;

}

.campaign-details .perks-section h3{
    font-size: 25px;
    font-family: 'Poppins';
    margin-top: $m-3;
    margin-bottom: $m-3;
}

.campaign-details .perks-section p{
    font-size: 16px;
    font-family: 'Open Sans';
}


.campaign-details .top-section{
  
    margin-top: $m-5;
    

}


.campaign-details .top-section-heading{
    font-size: 20px;
    font-family: 'Poppins';
    margin-top: $m-6;
    

}


.investor-details h2{

    font-family: 'poppins';
    font-weight: bold;
    margin-top: $m-3;

}

.investor-details p{

    font-family: 'Open Sans';

}

.no-entry p{
    font-size: 16px;
    font-family: 'Open Sans';
}


.form label{
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: bold;
}

.form input{
    font-size: 16px;
    font-family: 'Open Sans';
}

.form-heading{
    font-size: 26px;
    font-family: 'Poppins';
}

.btn{
    margin: 5px;
}