// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$p-0: 0;
$p-1: 4px;
$p-2: 8px;
$p-3: 12px;
$p-4: 16px;
$p-5: 24px;
$p-6: 32px;
$p-7: 40px;
$p-8: 48px;



